/* You can add global styles to this file, and also import other style files */
@use 'bootstrap/scss/bootstrap';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

/* Prevent double-tap zoom on buttons for mobile browsers */
button {
  touch-action: manipulation;
}